@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@await Html.PartialAsync("_GetMessage", new List<string> { "Lumia 950", "iPhone 6S", "Samsung Galaxy s 6", "LG G 4" })
@inject MvcViewsApp.Services.ITimeService Timer
<h2>Текущее время: @Timer.GetTime()</h2>
@section Footer {
    Все права защищены. Site Corp. 2020.
}