@using TagHelpersApp.Models
@model DayTimeViewModel

<form method="post">
    <div>
        <div>
            <label asp-for="Period">Время суток</label>
            <select asp-for="Period" asp-items="Html.GetEnumSelectList<DayTime>()"></select>
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>

<p>Время из Index: <b>@DateTime.Now.ToString("HH:mm:ss")</b></p>
<cache>
    @await Html.PartialAsync("TimeView")
</cache>

<summary>
    <timer color="navy" seconds-included="true" />
    <timer color="#0984e3" seconds-included="true" />
    <timer color="#ff7675" />
    <timer />
    <date></date>
</summary>

<div header>Первый параграф</div>
<div header>Второй параграф</div>

@{
    List<string> countries = new List<string> { "Бразилия", "Аргентина", "Уругвай" };
    List<string> cities = new List<string> { "Бразилиа", "Буэйнос-Айрес", "Монтевидео" };
}

<list elements="countries"></list>
<list elements="cities"></list>

@{
    User tom = new User { Id = 5, Name = "Tom", Age = 35 };
}

<user-info user="tom"></user-info>