@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*@await Component.InvokeAsync("Timer")*@
@*<vc:timer />*@

<p>
    24 часовой формат с секундами: <br />
    @await Component.InvokeAsync("Timer", new { includeSeconds = true, format24 = true })
</p>

<p>
    12 часовой формат без секунд: <br />
    <vc:timer include-seconds="false" format24="false"></vc:timer>
</p>
<p>
    24 часовой формат без секунд: <br />
    <vc:timer include-seconds="false" format24="true"></vc:timer>
</p>

<div>
    @await Component.InvokeAsync("UsersList")
</div>
<div>
    <vc:users-list />
</div>


<vc:header />